{% extends "home.html"%}
{% block title %}Classes | The plug Trading{% endblock %}
{% block content %}
    {% block element1%}
        <div class="class-container">
            <h4 class="fw-bold my-3">Introduction to Forex: Understanding the Global Currency Market</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
            <div class="d-md-flex justify-content-between">
                <div>
                    <p class="fw-bold">Monday, April 21, 2025 - (8pm -10pm).</p>
                </div>
                <div>
                    <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
                </div>
            </div>
        </div>
    {% endblock%}
    {% block element2%}
    <div class="class-container">
        <h4 class="fw-bold my-3">Forex Trading Terminology: Pips, Lots, Leverage & Margin</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
        <div class="d-md-flex justify-content-between">
            <div>
                <p class="fw-bold">Tuesday, April 22, 2025 - (8:30pm -10:30pm).</p>
            </div>
            <div>
                <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
            </div>
        </div>
    </div>
    {% endblock%}
    {% block element3%}
    <div class="class-container">
        <h4 class="fw-bold my-3">Major, Minor & Exotic Currency Pairs Explained</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
        <div class="d-md-flex justify-content-between">
            <div>
                <p class="fw-bold">Wednesday, April 23, 2025 - (8pm -10pm).</p>
            </div>
            <div>
                <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
            </div>
        </div>
    </div>
    {% endblock%}
    {% block element4%}
    <div class="class-container">
        <h4 class="fw-bold my-3">How to Read Forex Charts: Candlesticks, Trends, and Patterns</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
        <div class="d-md-flex justify-content-between">
            <div>
                <p class="fw-bold">Thursday, April 24, 2025 - (7pm -9pm).</p>
            </div>
            <div>
                <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
            </div>
        </div>
    </div>
    {% endblock%}
{% endblock %}