{% extends "home.html"%}
{% block title %}Classes | The plug Trading{% endblock %}
{% block content %}
    {% block element1%}
        <div class="class-container">
            <h4 class="fw-bold text-primary my-3">Understanding the basics of trading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
            <div class="d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
            </div>
        </div>
    {% endblock%}
    {% block element2%}
    <div class="class-container">
        <h4 class="fw-bold text-primary my-3">Understanding the basics of trading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
        <div class="d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
        </div>
    </div>
    {% endblock%}
    {% block element3%}
    <div class="class-container">
        <h4 class="fw-bold text-primary my-3">Understanding the basics of trading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime ratione iste possimus ipsam necessitatibus fugit minus consectetur vel amet veritatis animi voluptate temporibus, officiis at! Corrupti laborum necessitatibus placeat.</p>
        <div class="d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Schedule for this</button>
        </div>
    </div>
    {% endblock%}
{% endblock %}