<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>{% block title %}Home | The plug trading{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head> 

<body class="app">    
    <header class="app-header  fixed-top">  
        <div class="app-header-inner">  
            <div class="container-fluid">
                <div class="app-header-content"> 
                    <div class="row justify-content-between align-items-center py-2">
                        <div class="col-auto">
                            <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none p-md-3" style="cursor: pointer; color: #fff;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                            </a>
                            <p style="font-size: larger; font-weight: 700; padding-left: 2ex; position: relative;" >Masterplan FX</p>

                        </div>
						
                        <div class="app-utilities col-auto">
							{% if session.lname %}
								<div class="dropdown">
									<i class="fa-solid fa-circle-chevron-down px-2" style="font-size: x-large;" data-bs-toggle="dropdown" aria-expanded="false"></i>
									
									<ul class="dropdown-menu p-md-4">
										<img src="{{ url_for('static', filename='img/youngprince.jpg') }}" style="width: 40px; height: 40px; display: flex; margin: 0 auto; " alt="user profile">

										<li><a class="dropdown-item" href="#">Hi, {{ session.lname }}</a></li>
									</ul>
								</div>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app-sidepanel" class="app-sidepanel"> 
	        <div id="sidepanel-drop" class="sidepanel-drop"></div>
	        <div class="sidepanel-inner d-flex flex-column">
		        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
		        <div class="app-branding">
		            <a class="app-logo" href="{{ url_for('home') }}"><img class="logo-icon me-2" src="{{ url_for('static', filename='img/thee_plug_logo.jpg') }}" alt="logo"></a>
		        </div> 
			    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
					<ul class="app-menu list-unstyled accordion" id="menu-accordion">
						<li class="nav-item">
							<a class="nav-link" style="font-size: large;" href="{{ url_for('home') }}">
								<span class="nav-icon"><i class="fa-solid fa-house"></i></span>
								<span class="nav-link-text">Home</span>
							</a>
						</li>
						{% if session.lname %}
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('available_bots') }}">
									<span class="nav-icon"><i class="fa-brands fa-bots"></i></span>
									<span class="nav-link-text">Available Bots</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('schedule_class') }}">
									<span class="nav-icon"><i class="fa-solid fa-calendar-days"></i></span>
									<span class="nav-link-text">Schedule Class</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('get_broker') }}">
									<span class="nav-icon"><i class="fa-solid fa-handshake"></i></span>
									<span class="nav-link-text">Brokers</span>
								</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('login') }}">
									<span class="nav-icon"><i class="fa-solid fa-right-to-bracket"></i></span>
									<span class="nav-link-text">Login</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('user_registration' )}}">
									<span class="nav-icon"><i class="fa-solid fa-user-plus"></i></span>
									<span class="nav-link-text">Sign up</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
				{% if session.lname %}
					<div class="app-sidepanel-footer">
						<nav class="app-nav app-nav-footer">
							<ul class="app-menu footer-menu list-unstyled">
								<li class="nav-item">
									<footer class="app-footer">
										<div class="container ">
											<a class="nav-link" style="font-size: large;" href="{{ url_for('logout') }}">
												<span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
												<span class="nav-link-text">Logout</span>
											</a>
										</div>
									</footer>
								</li>
							</ul>
						</nav>
					</div>
				{% endif %}
	        </div>
	    </div>
    </header>
<!--     home page content -->
    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <main role="main" class="pb-3">
					{% block content%}
						<section class="container text-center" id="home_container">
							<h1 class="mb-4">Built by Traders <br>
								<i class="fa-solid fa-arrow-right"></i> for Traders</h1>
							<span>Trade like never before in Masterplan FX.</span><br>
							<a href="https://www.instagram.com/theeplug_ke?igsh=YzljYTk1ODg3Zg=="><button type="button" class="btn btn-primary mt-4"><i class="fa-brands fa-instagram me-2"></i>Join us on instagram</button></a>
						</section>
						<section>
							<div class="class-container bg-transparent">
								<div class="container text-center mt-5">
									<h2 class="mb-4">Why choose us?</h2>
									<p>We are a team of experienced traders who have developed a platform that is designed to help you succeed in the world of trading. Our platform is user-friendly, secure, and offers a wide range of features to help you make informed trading decisions.</p>
								</div>
								<div class="container text-center mt-5">
									<h2 class="mb-5">Our Services</h2>
									<p class="">We offer a range of services to help you succeed in the world of trading. Our services include:</p>
									
									<div class="row justify-content-center">
										<div class="col-md-6">
											<ul class="list-group-flush ">
												<li class="list-group-item my-3">📈 Market Analysis</li>
												<li class="list-group-item my-3">🤖 Trading Bots</li>
												<li class="list-group-item my-3">📚 Educational Resources</li>
												<li class="list-group-item my-3">🔧 24/7 Customer Support</li>
											</ul>
										</div>
									</div>
								</div>
	
								<div class="container text-center mt-4">
									<h1 class="mb-4">Your solution to trading challenges</h1>
									<p>You deserve the best, and at Funded Elite, we prioritize your growth and success!</p>
									<p style="color: lightslategray;">We are committed to providing you with the tools and resources you need to succeed in the world of trading. Our platform is designed to help you make informed trading decisions and achieve your financial goals.</p>
								</div>
							</div>
		
						</section>	

						<section class="mb-5">
							<h1 class="text-center">How Masterplan Fx Works...</h1>
							<!-- phase 1 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 1</h4>
								<p>In this phase, Once you've invested into Masterplan for us to trade on you behalf, you get <strong>60%</strong> of the profit after trading. That amount goes directly to you account.</p>
								
							</div>

							<!-- phase 2 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 2</h4>
								<p>If you again invest with us for the second time, you get <strong>69%</strong> of the profit after trading.</p>
							</div>

							<!-- phase 3 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 3</h4>
								<p>Since you are a MAsterplan FX member, you are given a profit share of <strong>82%</strong> of the profit after trading. This profit share will now be consistent in all your invest going forward.</p>
						</section>

						<section class="text-center mb-5">
							<div class="py-6 ">
								<h3>Select your Account Size</h3>
								<div class="btn-group mt-3" role="group" aria-label="Basic outlined example">
									<button type="button" class="btn btn-outline-primary">$100 - $1000</button>
									<button type="button" class="btn btn-outline-primary">$1001 - $10000</button>
									<button type="button" class="btn btn-outline-primary">$10001 - $100000</button>
								</div>
							</div>
							
							
						</section>

						<section class="mb-4">
							<h1 class="text-center mb-5">Some frequently asked questions...</h1>
							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseExample">
									How can I get started with your services?
								</button>
							</p>
							<div class="collapse " id="faq1">
								<div class="card card-body bg-transparent">
									Getting started is easy! Simply sign up on our website, choose a service package, and start exploring market insights or integrating our trading bots into your strategy.								</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseExample">
									How do your trading bots work?
								</button>
							</p>
							<div class="collapse " id="faq2">
								<div class="card card-body bg-transparent">
									Our trading bots leverage advanced algorithms and strategies like market-making and accumulator techniques to execute trades efficiently. They are designed to analyze trends, make informed decisions, and optimize trading performance.								
								</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseExample">
									Do you offer customer support?
								</button>
							</p>
							<div class="collapse " id="faq3">
								<div class="card card-body bg-transparent">
									Yes! We have a 24/7 customer support team ready to assist with any trading-related inquiries, technical issues, or guidance needed.
=								</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseExample">
									Are your trading bots customizable?
								</button>
							</p>
							<div class="collapse " id="faq4">
								<div class="card card-body bg-transparent">
									Yes, our bots can be fine-tuned based on specific trading preferences, risk tolerance, and strategies. We provide customization options to align with your individual goals.								</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseExample">
									How secure is Masterplan FX?
								</button>
							</p>
							<div class="collapse " id="faq5">
								<div class="card card-body bg-transparent">
									We prioritize security by using encrypted data protection, secure login credentials, and regulatory compliance to ensure safe trading experiences for our users.								</div>
							</div>

							<p class="text-center">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseExample">
									How can I stay updated on market trends through Masterplan FX?
								</button>
							</p>
							<div class="collapse " id="faq6">
								<div class="card card-body bg-transparent">
									We provide regular market insights, newsletters, and real-time trading signals to all our onboard traders to keep them informed about trends and opportunities.								</div>
							</div>

									
						</section>

					{% endblock%}
				</main>
                
                <footer class="app-footer" style="width: 100%;">
                    <div class="container text-center py-3">
                        <p class="mb-0">Copyright &copy; . All rights reserved.</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>  					
    <script src="{{ url_for('static', filename='js/home.js') }}"></script> 
</body>
</html> 

