<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>{% block title %}Home | The plug trading{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head> 

<body class="app">    
    <header class="app-header  fixed-top">  
        <div class="app-header-inner">  
            <div class="container-fluid">
                <div class="app-header-content"> 
                    <div class="row justify-content-between align-items-center py-2">
                        <div class="col-auto">
                            <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none p-md-3" style="cursor: pointer; color: #fff;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                            </a>
                            <p style="font-size: larger; font-weight: 700; padding-left: 2ex; position: relative;" >Masterplan FX</p>

                        </div>
						
                        <div class="app-utilities col-auto">
							{% if session.lname %}
								<div class="dropdown">
									<i class="fa-solid fa-circle-chevron-down px-2" style="font-size: x-large;" data-bs-toggle="dropdown" aria-expanded="false"></i>
									
									<ul class="dropdown-menu p-md-4">
										<img src="{{ url_for('static', filename='img/youngprince.jpg') }}" style="width: 40px; height: 40px; display: flex; margin: 0 auto; " alt="user profile">

										<li><a class="dropdown-item" href="#">Hi, {{ session.lname }}</a></li>
									</ul>
								</div>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app-sidepanel" class="app-sidepanel"> 
	        <div id="sidepanel-drop" class="sidepanel-drop"></div>
	        <div class="sidepanel-inner d-flex flex-column">
		        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
		        <div class="app-branding">
		            <a class="app-logo" href="{{ url_for('home') }}"><img class="logo-icon me-2" src="{{ url_for('static', filename='img/thee_plug_logo.jpg') }}" alt="logo"></a>
		        </div> 
			    <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
					<ul class="app-menu list-unstyled accordion" id="menu-accordion">
						<li class="nav-item">
							<a class="nav-link" style="font-size: large;" href="{{ url_for('home') }}">
								<span class="nav-icon"><i class="fa-solid fa-house"></i></span>
								<span class="nav-link-text">Home</span>
							</a>
						</li>
						{% if session.lname %}
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('available_bots') }}">
									<span class="nav-icon"><i class="fa-brands fa-bots"></i></span>
									<span class="nav-link-text">Available Bots</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('schedule_class') }}">
									<span class="nav-icon"><i class="fa-solid fa-calendar-days"></i></span>
									<span class="nav-link-text">Schedule Class</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('get_broker') }}">
									<span class="nav-icon"><i class="fa-solid fa-handshake"></i></span>
									<span class="nav-link-text">Brokers</span>
								</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('login') }}">
									<span class="nav-icon"><i class="fa-solid fa-right-to-bracket"></i></span>
									<span class="nav-link-text">Login</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" style="font-size: large;" href="{{ url_for('user_registration' )}}">
									<span class="nav-icon"><i class="fa-solid fa-user-plus"></i></span>
									<span class="nav-link-text">Sign up</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
				{% if session.lname %}
					<div class="app-sidepanel-footer">
						<nav class="app-nav app-nav-footer">
							<ul class="app-menu footer-menu list-unstyled">
								<li class="nav-item">
									<footer class="app-footer">
										<div class="container ">
											<a class="nav-link" style="font-size: large;" href="{{ url_for('logout') }}">
												<span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
												<span class="nav-link-text">Logout</span>
											</a>
										</div>
									</footer>
								</li>
							</ul>
						</nav>
					</div>
				{% endif %}
	        </div>
	    </div>
    </header>
<!--     home page content -->
    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    <main role="main" class="pb-3">
					{% block content%}


						<section class="hero-section container text-center" id="home_container">
							<h1 class="mb-4">Built by Traders <br>
								<i class="fa-solid fa-arrow-right"></i> for Traders
							</h1>
							<span>Join over 50,000 investors worldwide <br> You invest, we trade on your behalf and return on investment is guaranteed.</span><br><br><br>
							<span style="margin-top: 2em;">Trade like never before in Masterplan FX.</span><br>
						
							<a href="#account-size"><button type="button" class="btn btn-outline-primary mt-4">Buy Challenge </button></a><br>
							<a href="https://www.instagram.com/theeplug_ke?igsh=YzljYTk1ODg3Zg==">
								<button type="button" class="btn btn-primary mt-4 mb-5">
									<i class="fa-brands fa-instagram me-2"></i>Join us on Instagram
								</button>
							</a>
						</section>

						<section>
							<div class="class-container bg-transparent">
								<div class="container text-center mt-2">
									<h2 class="mb-4">Why choose us?</h2>
									<p>We are a team of experienced traders who have developed a platform that is designed to help you succeed in the world of trading. Our platform is user-friendly, secure, and offers a wide range of features to help you make informed trading decisions.</p>
									<div class="why_us_container">
										<div class="container-fluid">
											<p>Profits shared within 24hrs after a successful trading.</p>
										</div>
										<div class="container-fluid">
											<p>Guaranteed return on your investment.</p>
										</div>
										<div class="container-fluid">
											<p>Profit share is processed according to your phase.</p>
										</div>
									</div>
									
								</div>
								<div class="container text-center mt-5">
									<h2 class="mb-5">Our Services</h2>
									<p class="">We offer a range of services to help you succeed in the world of trading. Our services include:</p>
									
									<div class="row justify-content-center">
										<div class="col-md-6">
											<ul class="list-group-flush ">
												<li class="list-group-item my-3">📈 Market Analysis</li>
												<li class="list-group-item my-3">🤖 Trading Bots</li>
												<li class="list-group-item my-3">📚 Educational Resources</li>
												<li class="list-group-item my-3">🔧 24/7 Customer Support</li>
											</ul>
										</div>
									</div>
								</div>
	
								<div class="container text-center mt-4">
									<h1 class="mb-4">Your solution to trading challenges</h1>
									<p>You deserve the best, and at Funded Elite, we prioritize your growth and success!</p>
									<p style="color: lightslategray;">We are committed to providing you with the tools and resources you need to succeed in the world of trading. Our platform is designed to help you make informed trading decisions and achieve your financial goals.</p>
								</div>
							</div>
		
						</section>	

						<section class="mb-5 mt-5">
							<h1 class="text-center">How Masterplan Fx Works...</h1>
							<!-- phase 1 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 01 (Beginner)</h4>
								<p>Investement Capital <i class="fa-solid fa-arrow-right-long p-md-2"></i> $1000</p>
								<p>Profit Share <i class="fa-solid fa-arrow-right-long"></i> 60% (Guaranteed)</p>
								<p>Trading Bot <i class="fa-solid fa-arrow-right-long p-md-2"></i> Dollar Printer</p>
								<p>Leverage <i class="fa-solid fa-arrow-right-long"></i> 1:100</p>

							</div>

							<!-- phase 2 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 02 (Standard)</h4>
								<p>Investement Capital <i class="fa-solid fa-arrow-right-long p-md-2"></i> $2000</p>
								<p>Profit Share <i class="fa-solid fa-arrow-right-long"></i> 75% (Guaranteed)</p>
								<p>Trading Bot <i class="fa-solid fa-arrow-right-long p-md-2"></i> MasterSet</p>
								<p>Leverage <i class="fa-solid fa-arrow-right-long"></i> 1:200</p>
							</div>

							<!-- phase 3 -->
							<div class="class-container bg-transparent">
								<h4 style="color: #fff;">Phase 03 (Pro)</h4>
								<p>Investement Capital <i class="fa-solid fa-arrow-right-long p-md-2"></i> $5000</p>
								<p>Profit Share <i class="fa-solid fa-arrow-right-long"></i> 85% (Guaranteed)</p>
								<p>Trading Bot <i class="fa-solid fa-arrow-right-long p-md-2"></i> Poverty Destroyer</p>
								<p>Leverage <i class="fa-solid fa-arrow-right-long"></i> 1:400</p>
							</div>
						</section>

						<section id="account-size" class="text-center mb-5">
							<div class="py-6 ">
								<h3>Select your Account Size</h3>

								{% if session.lname %}
								<label for="account-size" class="form-label">Investement Phase Entry</label> <br>
								<div class="btn-group mt-3" role="group">
									<a href="https://www.paypal.com/ncp/payment/RT8HLBHW35NY2"><button type="button" class="btn btn-outline-primary">$100 - $1000</button></a>
									<a href="https://www.paypal.com/ncp/payment/BDWAV5A2TF2T4"><button type="button" class="btn btn-outline-primary">$1001 - $10000</button></a>
									<a href="https://www.paypal.com/ncp/payment/BYWGMZVUPKER6"><button type="button" class="btn btn-outline-primary">$10001 - $100000</button></a>
								</div>
								
								{% else %}
								<p class="mt-4"><span><strong><a  style="color: rgb(91, 147, 230);" href="{{ url_for('login') }}">Login first</a></strong></span> to select your account size for investment.</p>
								<label for="account-size" class="form-label">Investement Phase Entry</label> <br>
								<div class="btn-group mt-3" role="group">
									<button type="button" class="btn btn-outline-primary" disabled>$100 - $1000</button>
									<button type="button" class="btn btn-outline-primary" disabled>$1001 - $10000</button>
									<button type="button" class="btn btn-outline-primary" disabled>$10001 - $100000</button>
								</div>
								{% endif %}
								

								
							</div>
							
							
						</section>

						
					<!-- Trading Platforms Section -->
					<section class="platforms-section">
						<div class="container-fluid">
						<h2 class="text-center mb-4">Trading Platforms</h2>
						<div class="slider-mask">
							<div class="slider-wrapper">
							<div class="slider-track">
								<!-- Repeat items twice for seamless loop -->
								<div class="platform-box">
									<img src="../static/img/MT4.jpg" alt="">MT4</div>
								<div class="platform-box">
									<img src="../static/img/MT5.jpg" alt="">MT5</div>
								<div class="platform-box">
									<img src="../static/img/cTrader.jpg" alt="">cTrader</div>
								<div class="platform-box">
									<img src="../static/img/ninjatrader.jpg" alt="">NinjaTrader</div>
								<div class="platform-box">
									<img src="../static/img/tradingview.jpg" alt="">TradingView</div>
								<div class="platform-box">
									<img src="../static/img/etoro.jpg" alt="">eToro</div>
					
								<div class="platform-box">
									<img src="../static/img/MT4.jpg" alt="">MT4</div>
								<div class="platform-box">
									<img src="../static/img/MT5.jpg" alt="">MT5</div>
								<div class="platform-box">
									<img src="../static/img/cTrader.jpg" alt="">cTrader</div>
								<div class="platform-box">
									<img src="../static/img/ninjatrader.jpg" alt="">NinjaTrader</div>
								<div class="platform-box">
									<img src="../static/img/tradingview.jpg" alt="">TradingView</div>
								<div class="platform-box">
									<img src="../static/img/etoro.jpg" alt="">eToro</div>
							</div>
							</div>
						</div>
						</div>
					</section>


						<section class="mb-4">
							<h1 class="text-center mb-5">Some frequently asked questions...</h1>
							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseExample">
									How can I get started with your services?
								</button>
							</p>
							<div class="collapse " id="faq1">
								<div class="card card-body bg-transparent">
									Getting started is easy! Simply sign up on our website, choose a service package, and start exploring market insights or integrating our trading bots into your strategy.</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseExample">
									How do your trading bots work?
								</button>
							</p>
							<div class="collapse " id="faq2">
								<div class="card card-body bg-transparent">
									Our trading bots leverage advanced algorithms and strategies like market-making and accumulator techniques to execute trades efficiently. They are designed to analyze trends, make informed decisions, and optimize trading performance.</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseExample">
									Do you offer customer support?
								</button>
							</p>
							<div class="collapse " id="faq3">
								<div class="card card-body bg-transparent">
									Yes! We have a 24/7 customer support team ready to assist with any trading-related inquiries, technical issues, or guidance needed.</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseExample">
									Are your trading bots customizable?
								</button>
							</p>
							<div class="collapse " id="faq4">
								<div class="card card-body bg-transparent">
									Yes, our bots can be fine-tuned based on specific trading preferences, risk tolerance, and strategies. We provide customization options to align with your individual goals.								</div>
							</div>

							<p class="text-center w-3/4">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseExample">
									How secure is Masterplan FX?
								</button>
							</p>
							<div class="collapse " id="faq5">
								<div class="card card-body bg-transparent">
									We prioritize security by using encrypted data protection, secure login credentials, and regulatory compliance to ensure safe trading experiences for our users.								</div>
							</div>

							<p class="text-center">
								<button class="btn btn-primary bg-transparent" style="width: 100%;"  type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseExample">
									How can I stay updated on market trends through Masterplan FX?
								</button>
							</p>
							<div class="collapse " id="faq6">
								<div class="card card-body bg-transparent">
									We provide regular market insights, newsletters, and real-time trading signals to all our onboard traders to keep them informed about trends and opportunities.								</div>
							</div>

									
						</section>

						<section class="mt-5" >
							<div class="card py-2" style="width: 100%; background: transparent; color: #fff;">
								<h3 class="text-center"><i class="fa-solid fa-paper-plane p-md-3"></i>Newsletter</h3>
								<div class="card-body">
								  <h5 class="card-title">Join our Newsletter</h5>
								  <input type="email" placeholder="Enter your email" class="newsletter_email form-control mb-3" aria-label="Email">
								  <p class="card-text">Stay updated with the latest news and offers from Masterplan FX.</p>
								  <a href="#" class="btn btn-primary">Subscribe</a>
								</div>
							  </div>
						</section>

					{% endblock%}
				</main>
                
                <footer class="app-footer" style="width: 100%;">
                    <div class="container text-center py-3">
                        <p class="mb-0">Copyright &copy; . Masterplan FX Team. All rights reserved.</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>  					
    <script src="{{ url_for('static', filename='js/home.js') }}"></script> 
</body>
</html> 

