<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Login | Thee Plug Trading{% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="h-screen md:flex" style="background: rgb(1, 1, 26); color: #fff;">
        <div style="background-image: url(../static/img/login-page-img.jpg); background-size: cover; background-position: center;"
            class="hidden md:flex w-1/2 justify-around items-center">
            <div class="p-lg-4">
                <h1 class="text-white font-bold text-4xl font-sans">Masterplan FX</h1>
                <p class="text-white mt-1">Empower your trading journey with cutting-edge strategies and real-time
                    insights. </p>
            </div>
        </div>
        <div class="flex md:w-1/2 justify-center py-10 items-center">
            {% block container %}
            <form class="bg-transparent w-2/3" method="post" action="{{ url_for('login') }}">
                <img style="width: 100px; display: block; margin: 0 auto;"
                    src="https://cdn-icons-png.flaticon.com/128/2207/2207110.png" alt="">
                <h1 class="text-white text-center font-bold text-2xl mb-1 py-4">Welcome to Masterplan FX</h1>
                <p class="text-md font-normal text-gray-600 mb-7 text-white">Login</p>

                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div role="alert" class="alert alert-{{ category }} mb-6">
                    <span>{{ message }}</span>
                </div>
                {% endfor %}    

                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-5">
                    <i class="fa-solid fa-circle-user"></i>
                    <input class="pl-2 w-full outline-none border-none" type="email" name="email" placeholder="Email"
                        required />
                </div>

                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-5">
                    <i class="fa-solid fa-lock"></i>
                    <input class="pl-2 w-full outline-none border-none" type="password" name="password"
                        id="password-login" placeholder="Password" maxlength="16"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
                        required />
                    <div class="ml-2 cursor-pointer" id="visibility-login">
                        <i class="fa-regular fa-eye-slash ml-2" id="v_slash_login" style="display: none;"></i>
                        <i class="fa-regular fa-eye" id="v_plain_login" style="display: block;"></i>
                    </div>
                </div>



                <button type="submit"
                    class="block w-full bg-blue-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-4">Login</button>
                <span class="text-sm ml-2 cursor-pointer">Don't have an account? <a
                        href="{{ url_for('user_registration') }}" style="color: rgb(98, 98, 235);">register</a></span>
            </form>
            {% endblock %}

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

</body>

</html>