{% extends 'home.html'%}
{% block title %}Profile | The plug Trading{% endblock %}
{% block content %}
<div class="profile-container">
    <h2 class="profile-title">My Account</h2>

    <div class="class-container bg-transparent">
        <div class="container details text-center">
            <p>Welcome, {{ session.username }}!</p>

            <div class="why_us_container">
                <div class="container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/6706/6706193.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69);">10/12/2025</p>
                        <p style="font-size: medium;">Registration Date</p>
                    </div>
                </div>
                <div class="container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/9582/9582606.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69);">100.0.0.123</p>
                        <p style="font-size: medium;">My IP Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="class-container bg-transparent">
        <div class="container details text-center">
            <p style="font-size: larger; font-weight: 400;">Account Summary</p>
            <div class="why_us_container">
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/18549/18549078.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Account Balance</p>
                    </div>
                </div>
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/18699/18699674.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Total Earnings</p>
                    </div>
                </div>
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/9331/9331550.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Active Deposit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="class-container bg-transparent">
        <div class="container details text-center">
            <p class="mt-5" style="font-size: larger; font-weight: 400;">My Transactions</p>
            <div class="why_us_container">
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/15337/15337648.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Last Deposit</p>
                    </div>
                </div>
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/11539/11539705.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Last Withdrawal</p>
                    </div>
                </div>
                <div class="account-container-fluid">
                    <img src="https://cdn-icons-png.flaticon.com/128/11396/11396368.png" width="70" height="70" alt=""
                        srcset="">
                    <div style="margin-left: 2em;">
                        <p style="color: rgb(131, 197, 69); font-size: x-large; font-weight: 700;">$0</p>
                        <p style="font-size: medium;">Total Withdrawals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="make-deposit text-center mt-5 mb-5">
        <button class="btn btn-primary px-4" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
            style="font-size: larger;">Make a Deposit</button>
    </div>

    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="makeDepositModalLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="makeDepositModalLabel">Make a Deposit to Masterplan Fx</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Below is a Bitcoin wallet address where you can send your deposit. Click the copy button and proceed to make the payment using your Bitcoin wallet.
                    <div class="bitcoin-wallet-container mt-3 d-flex justify-content-between align-items-center">
                        <input type="text" name="bitcoin-address" id="bitcoinWallet" class="form-control text-center" style="color: green;" value="1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa" readonly>
                        <button class="btn btn-primary" onclick="copyToClipboard()">Copy</button>
                    </div>
                    <p style="margin-top: 1em; font-size: small;">After making the payment, please allow up to 30 minutes for the transaction to be confirmed on the blockchain. Once confirmed, your account will be credited with the deposited amount.</p>                            
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}